@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300&display=swap');

.home-container {
  // position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100vh;

  /* offer */

  .offer-container {
    // position: absolute;
    display: flex;
    // flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: lightgray;
    background-image: url('https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
    background-size: cover;
    background-position-y: -60px;
  }

  .classes-container {
    display: flex;

    // flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-color: #000;
    color: white;
    border-width: 10px;
    .classes-container-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      font-family: 'Koulen', cursive;
      font-family: 'Oswald', sans-serif;
    }
    .classes-container-right {
      display: flex;
      padding: 2rem;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 80%;
      border-left: solid 2px white;
      font-family: 'Koulen', cursive;
      font-family: 'Oswald', sans-serif;
    }
  }

  .story {
    // position: absolute;
    display: flex;
    // flex: 1;
    // margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: lightgray;
    background-image: url('https://images.unsplash.com/photo-1557564437-0995702f88fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position-y: -9rem;

    .bolded {
      font-weight: bolder;
      color: white;
    }
  }

  .carousel {
    display: flex;
    // flex: 2;
    flex-direction: column;
    // justify-content: center;
    // object-position: center;
    // align-items: center;
    width: 100%;
    height: 30rem;
    color: white;
    overflow: hidden;

    .caption {
      // display: flex;
      // flex-direction: column;
      top: 20rem;
      left: 20rem;
      bottom: auto;
      color: white;
      font-size: 2rem;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
