.contact-container {
  width: 100%;
  // height: auto;
  display: flex;
  // flex-direction: row;
  overflow: hidden;
  .img-container {
    width: 60%;
    overflow: hidden;
    img {
      // flex: 1;
      height: 50rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}
