.map-container {
  display: flex;
  // flex-direction: row;
  width: 100%;
  height: 100vh;
  background: white;
  // align-items: center;
  // justify-content: center;
  // border: solid 2px blue;
  overflow: scroll;

  .map {
    flex: 1;
    // width: '50%';
    // height: '100%';
  }

  .map-desciption {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    // align-items: center;
    // justify-content: center;
    border: solid 2px #000;
    border-left: solid 4px #000;
    margin-left: 3rem;
    overflow: scroll;

    .map-title {
      font-weight: bold;
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
      overflow: scroll;
    }

    .map-content {
      width: 80%;
      margin-left: 2rem;
      overflow: scroll;
    }
  }
}
