@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: basic-sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
  background: white;
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  min-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

//removes scrollbar, keeps funtionality *chrome
body::-webkit-scrollbar {
  display: none;
}
